* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: salmon;
}

main {
  display: flex;
  width: 70%;
  height: 100vh;
  padding: 5%;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sushi-box {
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.box-one {
  background-image: url('./assets/sushi-set-1.png');
}

.box-two {
  background-image: url('./assets/sushi-set-2.png');
}

.box-three {
  background-image: url('./assets/sushi-set-3.png');
}

.box-four {
  background-image: url('./assets/sushi-set-4.png');
}

.box-five {
  background-image: url('./assets/sushi-set-5.png');
}

.box-six {
  background-image: url('./assets/sushi-set-6.png');
}

.box-seven {
  background-image: url('./assets/sushi-set-7.png');
}

.box-eight {
  background-image: url('./assets/sushi-set-8.png');
}

.box-nine {
  background-image: url('./assets/sushi-set-9.png');
}
