* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: salmon;
}

main {
  display: flex;
  width: 70%;
  height: 100vh;
  padding: 5%;
}

.grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sushi-box {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.box-one {
  background-image: url('./assets/sushi-set-9.png');
}

.box-one:hover {
  animation: scale 3s infinite;
  animation-direction: alternate;
  transform: scale(1.5, 1.5);
}

@keyframes scale {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5)
  }
}

.box-two {
  background-image: url('./assets/sushi-set-2.png');
}

.box-two:hover {
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}

.box-three {
  background-image: url('./assets/sushi-set-3.png');
}

.box-three:hover {
  animation: shake 2s infinite;
  animation-direction: alternate;
  transform: skew(20deg);
}

@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}

.box-four {
  background-image: url('./assets/sushi-set-4.png');
}

.box-four:hover {
  animation: roll 3s infinite;
  animation-direction: alternate;
  transform: rotate(30deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box-five {
  background-image: url('./assets/sushi-set-5.png');
}

.box-five:hover {
  animation: shimmy 5s infinite;
  animation-direction: alternate;
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, 500px);
  }
}

.box-six {
  background-image: url('./assets/sushi-set-6.png');
}

.box-six:hover {
  transform: rotateX(40deg);
  animation: one 2s infinite;
  animation-direction: alternate;
}

@keyframes one {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(50deg);
  }
}

.box-seven {
  background-image: url('./assets/sushi-set-7.png');
}

.box-seven:hover {
  transform: rotateY(40deg);
  animation: two 2s infinite;
  animation-direction: alternate;
}

@keyframes two {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(70deg);
  }
}

.box-eight {
  background-image: url('./assets/sushi-set-8.png');
}

.box-eight:hover {
  transform: rotateZ(100deg);
  animation: three 2s infinite;
  animation-direction: alternate;
}

@keyframes three {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(100deg);
  }
}

.box-nine {
  background-image: url('./assets/sushi-set-1.png');
}

/* TRANSITIONS */
